<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.song.repository.BoardMapper">

    <select id="selBoardDTOById" resultType="com.study.song.model.BoardDTO">
        SELECT ID
             , TITLE
             , REGDATE
             , CONTENT
             , WRITER
        FROM BOARD
        WHERE ID = #{id}
    </select>

    <select id="selListBoardDTO" resultType="com.study.song.model.BoardDTO">
        SELECT ID
             , TITLE
             , REGDATE
             , CONTENT
             , WRITER
        FROM BOARD
    </select>
</mapper>